@import './base.css';

#app {
  margin: 0 auto;
}

.parent-E17CUIEjke {
  width: fit-content;
  height: fit-content;
  padding: 25px 50px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25);
  background: rgb(255, 255, 255);
}

.parent-4JdRLIEoke {
  width: fit-content;
  height: fit-content;
}

.child-dyKyWLNiJl {
  width: fit-content;
  height: fit-content;
}

.child-4kGsZ_Eoye {
  margin-bottom: 6px;
}

.child-VyRJw8Vjyg {
  min-height: 13px;
  margin-top: 3px;
  width: 300px;
  margin-bottom: 5px;
}

.child-VJLyS5Bj1e {
  margin-bottom: 3px;
}

.parent-E1QvAI4o1g {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parent-EkQQhPEokl {
  min-height: 13px;
  display: flex;
  align-items: center;
}

.parent-Nk7VmcBjJg {
  min-width: 12px;
  min-height: 12px;
}

.parent-Vk-U6DVsJe {
  line-height: 13px;
  font-size: 13px;
  margin-left: 5px;
}

.parent-NkrI7g6aJg {
  width: 16px;
  height: 16px;
}

.child-NJifq636yx {
  width: 120px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.child-NJifq636yx:hover {
  background-color: lightgrey;
}

.parent-EkRAQo2Tke {
  display: flex;
  align-items: center;
}

.parent-EkP5FT2pJg {
  position: absolute;
  top: 62px;
  right: -3px;
  box-shadow: var(--box-shadow);
  background-color: var(--background-color);
}

.parent-4yJ-KT36Jg {
  position: relative;
}

.parent-VJ_itahTJg {
  margin: 0 10px;
  font-size: 18px;
}

.child-VkA62T36yl {
  cursor: pointer;
}

.parent-EkXcKahTkg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: max-content;
}

.child-VJUPzT26kl {
  margin: 0 10px;
}

.parent-412UMan6kg {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.parent-NJvpvi261g {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  margin: 0 20px;
}

.parent-N1f5-onTJx {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--box-shadow);
  padding: 0 var(--global-side-padding);
  background-color: var(--background-color);
  height: 100%;
}

.parent-NytAQi3T1g {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: max-content;
}

.parent-E1ezLsnp1x {
  height: 60px;
  width: 60px;
}

.parent-NyFE4Rh6ye {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  box-shadow: var(--box-shadow);
  background-color: var(--background-color);
  padding-bottom: 20px;
}

.parent-VJbfLAh6ke {
  font-size: smaller;
  color: grey;
}

.parent-E1dLDRnTkg {
  display: flex;
  flex-direction: column;
}

.parent-41Gk5Ahpkg {
  font-size: xxx-large;
}

/* .child-4kNlqA2akg {
} */